{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class = "login p-4 mt-4">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
  
            <h1>Login</h1>
        
            <form method="POST" action="" class="form-example">
                {% csrf_token %}
                <div class="form-group mt-3 ">
                    <input type="text" class="form-control" name="username" placeholder="Enter username" required autofocus>
                </div>
                <div class="form-group mt-3 ">
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <div class="mt-3 mb-2">
                    <button type="submit" class="btn btn-primary btn-sm">Login</button>
                </div>
            </form>
        
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}     
                
            Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>
    
            </div>
        </div>
    </div>

</div>

{% endblock content %}