{% extends 'base.html' %}

{% block content %}

<div class="container p-4 h-100">
    <div class="title mb-4">
        <h2>Task List to Do</h2>
        <p>Username : {{user.username}}</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% for task in list_task %}
            <div class="card text-white bg-primary mb-3 card text-center">
                    <div class="card-body mb-4">
                        <h4 class="card-title">{{task.title}}</h4>
                        <p> Date : {{task.date}} </p>
                        <p> {{task.description}} </p>
                        {% if task.is_finished %}
                            <h5>Finished</h5>
                        {% else %}
                            <h5>Not Finished</h5>
                        {% endif %}
                        <button class="btn btn-light">
                            <a href="{% url 'todolist:finished_task' task.id %}">Finished</a>
                        </button>
                        <button class="btn btn-light">
                            <a href="{% url 'todolist:delete_task' task.id %}">Delete</a>
                        </button>
                    </div>
            </div>
            {% endfor %}
        </div>
        <div class="title mt-6">
            <h5>Sesi terakhir login : {{ last_login }}</h5>
            <div>
                <button class="btn btn-outline-primary">
                    <a href="{% url 'todolist:create_task' %}">Tambah Task Baru</a>
                </button>
                <button class="btn btn-outline-primary">
                    <a href="{% url 'todolist:logout' %}">Logout</a>
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}