{% extends 'base.html' %}

{% block content %}

<style>
    h1 {text-align: center;}
    h3 {text-align: center;}
    table {align-self: center;}
    #container{
        text-align: center;
    }
</style>


<h1>Todolist</h3>

<h3>Username : {{user.username}} </h4>

<table class="center">
    <tr>
    <th>Date</th>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
    <th>Finished</th>
    <th>Delete</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for task in list_task %}
        <tr>
            <td>{{task.date}}</td>
            <td>{{task.title}}</td>
            <td>{{task.description}}</td>
            {% if task.is_finished %}
                <td>Finished</td> 
            {% else %}
                <td>Not Finished</td>
            {% endif %}
            <td>
                <button>
                    <a href="{% url 'todolist:finished_task' task.id %}">Finished</a>
                </button>
            </td>
            <td>
                <button>
                    <a href="{% url 'todolist:delete_task' task.id %}">Delete</a>
                </button>
            </td>
        </tr>
    {% endfor %}
</table>

<h3>Sesi terakhir login: {{ last_login }}</h5>
<div id="container">
    <button>
        <a href="{% url 'todolist:create_task' %}">Tambah Task Baru</a>
    </button>
    <button>
        <a href="{% url 'todolist:logout' %}">Logout</a>
    </button>
</div>

{% endblock content %}